.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #282c34;
  color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
.right_section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.links ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.left_section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #21a1f1;
}

.profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
