.mobile-navbar {
  background-color: #282c34;
  display: flex;
  color: white;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mobile-navbar h1 {
  margin: 0;
  font-size: 1.5rem;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger-menu .line {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
}

.slide-in {
  position: fixed;
  top: 0;
  right: -250px; /* hidden by default */
  width: 250px;
  height: 100%;
  background: #333;
  color: white;
  padding: 2rem;
  transition: right 0.3s ease-in-out;
}

.slide-in.open {
  right: 0; /* slide in */
}

.slide-in ul {
  list-style: none;
  padding: 0;
}

.slide-in li {
  margin: 1rem 0;
  font-size: 1.2rem;
  cursor: pointer;
}
